main {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  flex-direction: column;
  background: linear-gradient(var(--primary), var(--secondary));
  padding: 0 4rem 0 4rem;
  z-index: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) transparent;
  scroll-behavior: smooth;
}

main::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(to right, var(--secondary) 2px, transparent 2px),
    linear-gradient(to bottom, var(--secondary) 2px, transparent 2px);
  background-size: 4rem 4rem;
  pointer-events: none;
  opacity: 0.5;
  z-index: 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  align-items: center;
}

.sectionTitle {
  position: relative;
  color: var(--light);
  font-family: "Montserrat Variable";
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 7rem;
  text-shadow: #00000093 0 0 10px;
}

.sectionTitle::after {
  content: "";
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%);
  background: var(--dark);
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--card);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: var(--border) solid 3px;
  box-shadow: var(--shadow) 0 0 5px 0;
  width: 30rem;
  transition:
    transform 0.3s ease-in-out,
    border 0.3s ease-in-out,
    background 0.3s ease-in-out;
  transform: scale(1);
  padding: 2rem;
}

.card:hover {
  transform: scale(1.05);
  border: var(--dark) solid 3px;
  box-shadow: var(--dark) 0 0 5px 0;
  background: var(--secondary);
}

.tag {
  font-family: "JetBrains Mono Variable";
  color: var(--light);
  font-size: 1.2rem;
  background: var(--border);
  padding: 0.2rem 1rem;
  border-radius: 50px;
  box-shadow: var(--shadow) 0 2px 3px 0;
}
