* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  user-select: text;
}

*::selection {
  background: var(--selection);
}

.action {
  cursor:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1.3rem" height="1.3rem" viewBox="0 0 24 24"><g fill="%23ffc258"><path d="M18 7c-3 0-5.5-1.5-9 2s-2 6-2 9c0 5 4.1 5.63 6 5 3-1 1-3 4-6s5-1 6-4c.63-1.9 0-6-5-6Z"></path><circle cx="8.2" cy="4" r="2"></circle><circle cx="4" cy="8.2" r="2"></circle><circle cx="14" cy="3" r="2"></circle><circle cx="3" cy="14" r="2"></circle></g></svg>'),
    auto;
}

:root {
  --primary: #1c0048;
  --secondary: #3c096c;
  --light: #e0aaff;
  --dark: #c77dff;
  --paw: #ffc258;
  --shadow: #0d0120;
  --card: #2d055259;
  --border: #4810a1;
  --selection: #e0aaff3d;
  --navbar-height: 7rem;
}

html,
body {
  font-size: 12px;
}

@media screen and (max-width: 968px) {
  html,
  body {
    font-size: 8px;
  }
}

/* @media screen and (max-width: 400px) {
  html,
  body {
    font-size: 7px;
  }
} */
